$header-feature-footer-background: #222222;
$brand-background: #F1E4E6;
$mark: #F16D7F;
$white: #FFFFFF;
$input-text: #B1B1B1;
$input-border: #A4A4A4;;
$blackout: #2116164d;
$lightest-text: #9F9F9F;
$header-icon: #E8E8E8;
$light-text: #5D5D5D;
$item-back: #F8F8F8;
$product-button: #F26376;
$email-back: #E1E1E1;
$menu-text: #6F6E6E;
$brand-overlay: #00000080;
$product-item-overlay: #3a3838db;
$default-font: 'Lato', sans-serif;