@import "_mixin";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

body {
    font-family: $default-font;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.limiter {
    max-width: 1600px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: $header-feature-footer-background;
    position: relative;

    &__wrapper {
        display: flex;
        align-items: center;
        min-height: 75px;
        justify-content: space-between;
    }

    &__logo {
        text-decoration: none;
        margin-right: 41px;
    }

    &__search {
        text-decoration: none;
        fill: $header-icon;
    }

    &__search:hover {
        fill: $mark;
    }

    &__menu {
        cursor: pointer;
        display: inline-block;
        margin-right: 34px;

        &__img {
            fill: $header-icon
        }
    }

    &__menu:hover {
        &>.header__menu__img {
            fill: $mark;
        }
    }

    &__navigation {
        z-index: 1;
        display: none;
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 75px;
        width: 232px;
        padding: 37px 34px;
        background: $white;

        &__cross {
            position: absolute;
            top: 16px;
            left: 204px;
            fill: $menu-text;
        }

        &__title {
            @include font-parameter(14px, 700, 17px);
            text-transform: uppercase;
            margin-bottom: 24px;
        }

        &__subtitle {
            @include font-parameter(14px, 400, 17px);
            text-transform: uppercase;
            margin: 20px 0 12px;
            color: $mark;

            &__items-wrap {
                padding-left: 20px;
            }
        }

        &__item {
            @include font-parameter(14px, 400, 17px);
            text-decoration: none;
            color: $menu-text;

            &_margin {
                margin-bottom: 11px;
            }
        }
    }

    &__person-link {
        margin-right: 33px;
        fill: $header-icon;
        text-decoration: none;
    }

    &__person-link:hover {
        fill: $mark;
    }

    &__cart {
        text-decoration: none;
        position: relative;
        fill: $header-icon;

        &__count {
            background: $mark;
            border-radius: 50%;
            width: 19px;
            height: 19px;
            @include font-parameter(12px, 400, 19px);
            color: $white;
            text-align: center;
            position: absolute;
            top: -22px;
            left: 25px;
        }
    }

    &__cart:hover {
        fill: $mark;
    }
}

.brand {
    display: flex;
    position: relative;

    &__overlay {
        display: none;
        min-height: 765px;
        position: absolute;
        width: 100%;
        content: '';
        background: $brand-overlay;
    }

    &__title-wrapper {
        background: $brand-background;
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-left: 91px;
    }

    &__vertical-mark {
        width: 12px;
        height: 92px;
        background: $mark;
        margin-right: 16px;
    }

    &__title {
        @include font-parameter (48px, 900, 58px);
        text-transform: uppercase;
    }

    &__subtitle {
        @include font-parameter(37px, 700, 44px);
        display: block;

        &__mark-text {
            color: $mark;
        }
    }


}

.offers {
    margin: 63px auto 97px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: 360px;
        min-height: 260px;
        background: $blackout;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        @include font-parameter(16px, 400, 19px);
        color: $white;

        &_women {
            background: url(../image/offer-for-women-img.jpg);
        }

        &_men {
            background: url(../image/offer-for-men-img.jpg);
        }

        &_kids {
            background: url(../image/offer-for-kids-img.jpg);
        }

        &_accesories {
            background: url(../image/offer-accesories-img.jpg);
            width: 100%;
            min-height: 180px;
            margin: 0;
        }
    }

    &__mark-text {
        @include font-parameter(24px, 700, 29px);
        color: $mark;
    }
}

.product {
    margin-bottom: 100px;
    // fill="#E8E8E8"

    &__title {
        text-align: center;
        @include font-parameter(30px, 400, 36px);
        margin-bottom: 6px;
    }

    &__desc {
        text-align: center;
        @include font-parameter(14px, 400, 17px);
        color: $lightest-text;
    }

    &__item-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin: 48px auto;
    }

    &__item {
        max-width: 360px;
        background: $item-back;
        position: relative;

        &__img {

            &__overlay {
                display: none;
                justify-content: center;
                align-items: center;
                top: 0;
                position: absolute;
                background: $product-item-overlay;
                min-height: 420px;
                width: 100%;

                &__button {
                    text-decoration: none;
                    padding: 0 13px;
                    align-items: center;
                    justify-content: space-between;
                    display: flex;
                    border: 1px solid $white;
                    box-sizing: border-box;
                    cursor: pointer;
                    @include font-parameter(14px, 400, 17px);
                    color: $white;
                    min-height: 43px;
                    min-width: 138px;
                    margin: 0 auto;
                    fill: $white;
                }
            }
        }


        &__title {
            text-transform: uppercase;
            margin: 25px 0 13px 18px;
        }

        &__desc {
            color: $light-text;
            @include font-parameter(14px, 300, 17px);
            margin: 0 29px 0 18px;
        }

        &__price {
            color: $mark;
            @include font-parameter(16px, 400, 19px);
            margin: 18px 0 20px 18px;
        }
    }

    &__item:hover,
    &__item:focus {

        &>.product__item__img__overlay {
            display: flex;

        }
    }

    &__button {
        @include font-parameter(16px, 400, 19px);
        color: $product-button;
        background: none;
        border: 1px solid $product-button;
        padding: 14px 39px;
        margin: 0 auto;
        display: block;
        transition: all 0.5s ease-out;
        cursor: pointer;

        &:hover,
        &:focus {
            transform: scale(1.1);
            color: $white;
            background: $product-button;
        }
    }
}

.feature {
    background: $header-feature-footer-background;


    &__item-wrap {
        padding: 104px 0;
        display: flex;
        justify-content: space-around;
    }

    &__item {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $item-back;
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;

        &__title {
            @include font-parameter(20px, 400, 24px);
            margin: 25px 0 16px;
        }

        &__desc {
            @include font-parameter(14px, 300, 17px);
            text-align: center;
        }
    }

}

.feedback {
    background: url(../image/feedback-back.jpg);

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__speech {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__face {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            margin-bottom: 30px;
            background: url(../image/feedback-face.jpg);
        }

        &__desc {
            @include font-parameter(20px, 400, 24px);
            text-align: center;

            &_mark {
                font-style: italic;
            }
        }
    }

    &__subscribe {
        margin: 150px 0;
        text-transform: uppercase;
        text-align: center;

        &__title {
            @include font-parameter(24px, 700, 38px);
        }

        &__desc {
            @include font-parameter(18px, 400, 30px);
            margin-bottom: 32px;
        }

        &__input-wrap {
            display: flex;
        }

        &__email {
            width: 256px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            border: none;
            height: 49px;
            background: $email-back;
            padding-left: 22px;
            opacity: 0.67;

            &:focus {
                opacity: 1;
            }
        }

        &__button {
            width: 100px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            border: none;
            height: 49px;
            background: $mark;
            @include font-parameter(14px, 400, 17px);
            color: $white;
            transition: 0.5s;

            &:hover,
            &:focus {
                background: $white;
                color: $mark;
            }
        }
    }
}

.copyrights {
    background: $header-feature-footer-background;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        margin: 30px 0;
        @include font-parameter(16px, 400, 19px);
        color: $item-back;
    }

    &__social {

        &__item {
            color: black;
            background: $white;
            width: 32px;
            height: 32px;
            display: inline-block;
            line-height: 32px;
            text-align: center;
            margin-left: 7px;
            font-size: 14px;
            transition: all 0.5s;

            &:hover,
            &:focus {
                background: $mark;
                color: $white;
                transform: scale(1.1);
            }

            &_mark {
                background: $mark;
                color: $white;

                &:hover,
                &:focus {
                    color: black;
                    background: $white;
                }
            }
        }
    }
}

.display-block {
    display: block;
}

.display-block-none {
    display: none;
}