@import "_mixin";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

.title {
    background: $brand-background;

    &__text {
        text-transform: uppercase;
        @include font-parameter(24px, 400, 29px);
        color: $mark;
        padding: 60px 0;
    }
}

.registration {
    margin: 64px 0 96px;
    
    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__form {
        max-width: 360px;

        &__title {
            @include font-parameter(16px, 300, 19px);
            color: $header-feature-footer-background;
            margin-bottom: 20.5px;
        }

        &__input {
            margin-bottom: 20.5px;
            box-sizing: border-box;
            padding-left: 17px;
            width: 100%;
            height: 45px;
            @include font-parameter(13px, 300, 16px);
            color: $input-text;
            border: 1px solid $input-border;
        }

        &__input:last-of-type {
            margin-bottom: 0;
        }

        &__gender-wrap {
            display: flex;
            margin: 31.5px 0 33px;
        }

        &__gender {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        &__gender+&__gender-label {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }

        &__gender+&__gender-label::before {
            content: '';
            display: inline-block;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #adb5bd;
            margin-right: 10px;
        }

        &__gender:checked+&__gender-label::before {
            background-color: $mark;
        }       

        &__gender:not(:disabled):active+&__gender-label::before {
            background-color: $input-text;
        }

        &__gender:focus+&__gender-label::before {
            box-shadow: 0 0 0 0.2rem $input-text;
        }

        &__gender:focus:not(:checked)+&__gender-label::before {
            border-color: $input-text;
        }

        &__gender-label {
            @include font-parameter(11px, 300, 17px);
            margin-right: 20px;
        }

        &__desc-pass {
            @include font-parameter(13px, 300, 17px);
            color: $input-text;
            margin: 15.5px 0 39px;
        }

        &__btm {
            box-sizing: border-box;
            padding: 0 29px;
            text-decoration: none;
            display: block;
            width: 167px;
            height: 50px;
            @include font-parameter(14px, 400, 50px);
            color: $white;
            background: url(../image/arrow.svg) no-repeat,
            $mark;
            background-position: 121px center;
            text-transform: uppercase;
            transition: 0.5s;
        }

        &__btm:hover, &__btm:focus {
            background-position: 130px center;
        }
    }


    &__plus {
        max-width: 652px;
        @include font-parameter(24px, 300, 29px);

        &__title {
            text-transform: uppercase;
            margin-bottom: 22px;
        }

        &__desc {
            margin-bottom: 21px;
        }

        &__item {
            margin-bottom: 16px;
            padding-left: 43px;
            background: url(../image/check-mark.svg) no-repeat;
            background-position: left center;
        }
    }
}