// :root {
//     --dark-blue: #222222;
// }
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

$header-feature-footer-background: #222222;
$brand-background: #F1E4E6;
$mark: #F16D7F;
$white: #FFFFFF;
$blackout: rgba(33, 22, 22, 0.3);
$lightest-text: #9F9F9F;
$light-text: #5D5D5D;
$item-back: #F8F8F8;
$product-button: #F26376;
$default-font: 'Lato',
sans-serif;

@mixin font-parameter ($size: 13px, $weight: 400, $height: 16px) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

body {
    font-family: $default-font;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: $header-feature-footer-background;

    &__wrapper {
        display: flex;
        align-items: center;
        min-height: 75px;
        justify-content: space-between;
    }

    &__logo {
        margin-right: 41px;
    }

    &__navigation {
        display: none;
    }

    &__menu {
        background: transparent;
        border: none;
        margin-right: 34px;
    }

    &__person-link {
        margin-right: 33px;
    }

    &__cart {
        text-decoration: none;
        position: absolute;

        &__count {
            background: $mark;
            border-radius: 50%;
            width: 19px;
            height: 19px;
            @include font-parameter(12px, 400, 19px);
            color: $white;
            text-align: center;
            position: relative;
            top: -37px;
            left: 25px;
        }
    }
}

.brand {
    display: flex;

    &__title-wrapper {
        background: $brand-background;
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-left: 91px;
    }

    &__vertical-mark {
        width: 12px;
        height: 92px;
        background: $mark;
        margin-right: 16px;
    }

    &__title {
        @include font-parameter (48px, 900, 58px);
        text-transform: uppercase;
    }

    &__subtitle {
        @include font-parameter(37px, 700, 44px);
        display: block;

        &__mark-text {
            color: $mark;
        }
    }


}

.offers {
    margin: 63px auto 97px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: 360px;
        min-height: 260px;
        background: $blackout;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        @include font-parameter(16px, 400, 19px);
        color: $white;

        &_women {
            background: url(../image/offer-for-women-img.jpg);
        }

        &_men {
            background: url(../image/offer-for-men-img.jpg);
        }

        &_kids {
            background: url(../image/offer-for-kids-img.jpg);
        }

        &_accesories {
            background: url(../image/offer-accesories-img.jpg);
            width: 100%;
            min-height: 180px;
            margin: 0;
        }
    }

    &__mark-text {
        @include font-parameter(24px, 700, 29px);
        color: $mark;
    }
}

.product {
    margin-bottom: 100px;

    &__title {
        text-align: center;
        @include font-parameter(30px, 400, 36px);
        margin-bottom: 6px;
    }

    &__desc {
        text-align: center;
        @include font-parameter(14px, 400, 17px);
        color: $lightest-text;
    }

    &__item-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin: 48px auto;
    }

    &__item {
        max-width: 360px;
        background: $item-back;

        &__title {
            text-transform: uppercase;
            margin: 25px 0 13px 18px;
        }

        &__desc {
            color: $light-text;
            @include font-parameter(14px, 300, 17px);
            margin: 0 29px 0 18px;
        }

        &__price {
            color: $mark;
            @include font-parameter(16px, 400, 19px);
            margin: 18px 0 20px 18px;
        }
    }

    &__button {
        @include font-parameter(16px, 400, 19px);
        color: $product-button;
        background: none;
        border: 1px solid $product-button;
        padding: 14px 39px;
        margin: 0 auto;
        display: block;
    }
}

.feature {
    background: $header-feature-footer-background;


    &__item-wrap {
        padding: 104px 0;
        display: flex;
        justify-content: space-around;
    }

    &__item {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $item-back;
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;

        &__title {
            @include font-parameter(20px, 400, 24px);
            margin: 25px 0 16px;
        }

        &__desc {
            @include font-parameter(14px, 300, 17px);
            text-align: center;
        }
    }

}